{
  "ADMOB_ANDROID_APP_ID": "ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX",
  "ADMOB_IOS_APP_ID": "ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX",
  "ADMOB_ANDROID_UNIT_ID": "ca-app-pub-XXXXXXXXXXXXXXXX/XXXXXXXXXX",
  "ADMOB_IOS_UNIT_ID": "ca-app-pub-XXXXXXXXXXXXXXXX/XXXXXXXXXX"
}
